.home{
    display: flex;
}

.productContainer {
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filters{
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 86vh;
}

.filter > span {
    padding-bottom: 20px;
}

.title {
    font-size: 30px;
}

.productContainer{
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products {
    width: 30%;
    margin: 10px;
    transition: transform 250ms;
}

.products:hover{
    transform: translateY(-10px);
}

.header {
    display: block;
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
  }


.cartitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
} 

.cartItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}


.cartItemDetail{
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}


.summary{
    width: 30%;
}

.money-symbol{
    color: green;
    font-size: large;
}

.dropdown-toggle {
    background-color: #343a40;
    border-color: #fff;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
  }


@media(max-width: 771px){

    .filters{
        width: 40%;
        padding: 10px;
        margin: 5px;
    }

    .filter > span {
        fint-size: 10px;
    }

    .title{
        font-size: 18px !important;
    }

    .productContainer{
        width: 58%;
        padding: 0;
    }

    .search{
        display: none !important;
    }

    .products{
        width: 100%;

    }




}